robot_obs:
  - _target_: sac_n_gmm.utils.transforms.ArrayToTensor

rgb:
  - _target_: torchvision.transforms.ToTensor
  - _target_: torchvision.transforms.Resize
    size: 64
    interpolation: bilinear

depth:
  - _target_: torchvision.transforms.ToTensor
  - _target_: torchvision.transforms.Resize
    size: 64
    interpolation: nearest
  - _target_: sac_n_gmm.utils.transforms.AddGaussianNoise
    mean: 0
    std: 0
